# Datos de Red Eléctrica Española (a 17:20 dfel 17 de marzo de 2024)
https://demanda.ree.es/visiona/peninsula/nacional/tablas/2024-3-17/1

In [1]:
import pandas as pd

C:\Users\Jonatan\AppData\Local\Temp\ipykernel_14404\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
dem_pre =  pd.read_csv("Demanda_Prevista.csv", sep=";")

In [7]:
dem_pre.head()

                  Hora  Prevista  Programada
0  2024-03-16 21:00:00     30603       29934
1  2024-03-16 21:05:00     30959       29934
2  2024-03-16 21:10:00     31079       29934
3  2024-03-16 21:15:00     30963       29634
4  2024-03-16 21:20:00     30747       29634

In [10]:
dem_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Hora        360 non-null    object
 1   Prevista    360 non-null    int64
 2   Programada  360 non-null    int64
dtypes: int64(2), object(1)
memory usage: 8.6+ KB

In [9]:
dem_pre[dem_pre["Programada"]>dem_pre["Prevista"]]

                    Hora  Prevista  Programada
41   2024-03-17 00:25:00     24144       24150
47   2024-03-17 00:55:00     23328       23343
55   2024-03-17 01:35:00     22318       22342
56   2024-03-17 01:40:00     22217       22342
59   2024-03-17 01:55:00     21919       21927
..                   ...       ...         ...
254  2024-03-17 18:10:00     24183       26896
255  2024-03-17 18:15:00     24361       25896
256  2024-03-17 18:20:00     24568       25896
257  2024-03-17 18:25:00     24779       25896
264  2024-03-17 19:00:00     26481       26717

[113 rows x 3 columns]

In [12]:
dem_pre['Hora'] = pd.to_datetime(dem_pre['Hora'])

In [16]:
dem_pre['dia'] =dem_pre['Hora'].apply(lambda x: x.day)

In [17]:
dem_pre

                   Hora  Prevista  Programada  dia
0   2024-03-16 21:00:00     30603       29934   16
1   2024-03-16 21:05:00     30959       29934   16
2   2024-03-16 21:10:00     31079       29934   16
3   2024-03-16 21:15:00     30963       29634   16
4   2024-03-16 21:20:00     30747       29634   16
..                  ...       ...         ...  ...
355 2024-03-18 02:35:00     21601       20785   18
356 2024-03-18 02:40:00     21569       20785   18
357 2024-03-18 02:45:00     21542       20785   18
358 2024-03-18 02:50:00     21515       20785   18
359 2024-03-18 02:55:00     21478       20785   18

[360 rows x 4 columns]

In [19]:
dem_real = pd.read_csv("Demanda_Real.csv")

In [22]:
dem_real['Hora'] = pd.to_datetime(dem_real['Hora'])

In [25]:
dem = pd.merge(dem_real, dem_pre, how="outer", on=["Hora"], indicator=True)

In [26]:
dem.head()

                 Hora     Real  Prevista  Programada  dia _merge
0 2024-03-16 21:00:00  29865.0     30603       29934   16   both
1 2024-03-16 21:05:00  30025.0     30959       29934   16   both
2 2024-03-16 21:10:00  29969.0     31079       29934   16   both
3 2024-03-16 21:15:00  29973.0     30963       29634   16   both
4 2024-03-16 21:20:00  29769.0     30747       29634   16   both

In [27]:
dem.groupby('_merge').count()

C:\Users\Jonatan\AppData\Local\Temp\ipykernel_14404\4243767019.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dem.groupby('_merge').count()

            Hora  Real  Prevista  Programada  dia
_merge
left_only      0     0         0           0    0
right_only   115     0       115         115  115
both         245   245       245         245  245

In [28]:
# Recordamos el problema del utf-8?
#gen = pd.read_csv("Generacion.csv")
# Mira las primeras líneas del fichero!!
#gen = pd.read_csv("Generacion.csv, encoding="latin-1")
# Ahora tenemos un índice indeseado!
#gen = pd.read_csv("Generacion.csv", encoding="latin-1", skiprows=2)
gen = pd.read_csv("Generacion.csv", encoding="latin-1", skiprows=2, index_col=False)
gen.head()

,Hora,Eólica,Nuclear,Carbón,Ciclo combinado,Hidráulica,Intercambios int,Solar fotovoltaica,Solar térmica,Térmica renovable,Motores diésel,Turbina de gas,Turbina de vapor,Generación auxiliar,Cogeneración y residuos
0,2024-03-16 21:00,5060,3634,240,5042,10760,1393,12,405,475,389,99,194,-6,1631
1,2024-03-16 21:05,5151,3633,240,5292,10806,1167,12,401,476,390,98,195,-6,1596
2,2024-03-16 21:10,5191,3635,240,5417,10771,995,12,393,476,389,93,194,-6,1630
3,2024-03-16 21:15,5207,3634,240,5452,10760,979,12,393,476,389,77,194,-6,1631
4,2024-03-16 21:20,5189,3635,240,5481,10630,891,12,394,476,389,75,195,-6,1627